<div>
  <button 
    data-action="click->modal#hide"
    type="button" class="relative text-gray-400 bg-white rounded-md hover:text-gray-500">
    <span class="absolute -inset-2.5" data-where="amenities"></span>
    <span class="sr-only">Close panel</span>
    <svg class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
    </svg>
  </button>
  <div class="py-6">
    <h2 class="text-xl font-medium leading-6 text-gray-900">What this place offers</h2>
    <div class="mt-6">
      <% content_params[:amenities].each do |amenity| %>
        <%= render 'properties/amenity', amenity: amenity %>
        <div class="inset-0 flex items-center py-1" aria-hidden="true">
          <div class="w-full border-t border-gray-200"></div>
        </div>
      <% end %>
    </div>
  </div>
</div>