<div>
  <button 
    data-action="click->modal#hide"
    type="button" class="relative text-gray-400 bg-white rounded-md hover:text-gray-500">
    <span class="absolute -inset-2.5" data-where="search"></span>
    <span class="sr-only">Close panel</span>
    <svg class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
    </svg>
  </button>
  <div class="grid grid-cols-6 gap-8">
    <h1>Search it!!!</h1>
  </div>
</div>