<div class="mx-auto max-w-7xl lg:flex lg:gap-x-16 lg:px-8">
  <%= render partial: 'shared/owner_sidebar' %>
  <main class="my-8 lg:flex-auto">
    <!-- flex vs flex-auto? -->
    <div class="flex items-center justify-between">
      <h2 class="text-base font-semibold leading-7 text-gray-900">Properties</h2>
      <%= button_to "Add Property", new_owner_property_path, method: :get, class: "flex-1 text-nowrap mt-4 rounded-md border border-transparent bg-primary px-8 py-3 text-base font-medium text-white hover:bg-primary-dark focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2" %>
    </div>
    <div class="grid grid-cols-1 mt-12 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:gap-x-8">
      <% @properties.each do |property| %>
        <div class="flex flex-col justify-between">
          <%= render 'properties/item', property: property, minimal_details: false %>
          <%= button_to "Edit", edit_owner_property_path(property), method: :get, class: "w-full flex-1 text-nowrap mt-4 rounded-md border border-transparent bg-primary px-8 py-3 text-base font-medium text-white hover:bg-primary-dark focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2" %>
        </div>
      <% end %>
    </div>
  </main>
</div>
